
/*1.三角型*/

i.triangle{
	position: relative;
	display: inline-block;
	width: 0px;
	height: 0px;
    border:6px solid transparent;
    border-left:6px solid #000;
}

/*垂直居中*/
.search{
	position: relative;
	height: 60px;
	padding:0 0 0 8px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	vertical-align:middle;
} 

.search .form_text{
	vertical-align:middle;
	color:#181818;
}

.search .form_text label{
	margin: 0 12px;
}

.search .query{
	width: 100px;
	height: 35px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color: #2194ff;
	color:#fff;
}
.search .vertical-align-span{
	display: inline-block;
	width: 1px;
	height: 100%;
	vertical-align: middle;

}


/*修改*/

/*来改变按钮在iPhone下的默认风格*/
select{
	-webkit-appearance: none; 
}
/*input 设置背景透明*/
input{
	background-color:transparent;
}

/*input placeholder 字体的颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
　　color: #666;
　　}
　　input:-moz-placeholder, textarea:-moz-placeholder {
　　color:#666;
　　}
　　input::-moz-placeholder, textarea::-moz-placeholder {
　　color:#666;
　　}
　　input:-ms-input-placeholder, textarea:-ms-input-placeholder {
　　color:#666;
　　}
/**/
{
	position: relative;    /* 内容超出部分自动隐藏*/
	position: absolute;    /*内容超出部分不自动隐藏*/
}


/* 用 transition 的时候要小心，因为页面刷新的时候会有动画效果*/


/*qu*/
select{
	outline: none;
    -webkit-appearance: none;
}


/*去除ios中点击a标签时的默认背景*/
a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}