@import 'scssLib.scss';
html,body{
	position: relative;
	width: 100%;
	height: 100%;
}
.main {
	position: absolute;
	width: 640px;
	height: 640px;
	background-color: #f00;
	transform-origin:left top;
}