<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no" />
    <title>pc端自适应</title>
    <link rel="stylesheet" href="css/styleReset.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <div class="main ">
    	<div class="scale content">	
			<img src="img/bg0.jpg" alt="" class="bg">
			<img src="img/bg1.jpg" alt="" class="bg">
			<img src="img/bg2.jpg" alt="" class="bg">
			<img src="img/bg3.jpg" alt="" class="bg">
			<img src="img/bg4.jpg" alt="" class="bg">
			<div class="form">
				
			</div>
    	</div>	
    </div>
    <script src="js/zepto.min.all.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
