<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,user-scalable=no" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no" />
    <title></title>
    <link rel="stylesheet" href="css/styleReset.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/lib/zepto.min.all.js"></script>
    <script src="js/lib/lodash.min.js"></script>
    <script src="js/lib/TweenMax.min.js"></script>
    <script src="js/lib/TimelineMax.min.js"></script>
    <script src="js/lib/CSSPlugin.min.js"></script>
    <script src="js/lib/EaselPlugin.min.js"></script>
    <script src="js/lib/pixi.min.js"></script>
    <script src="js/lib/pixi-sound.js"></script>
    <script src="js/lib/Animate.js"></script>
    <script src="js/lib/Scroller.js"></script>

</head>
<body>
	<div class="main" id="main"></div>
	<script src="js/pixi-util.js"></script>
	<script src="js/pixiData.js"></script>
    <script src="js/index.js"></script>
</body>

</html>