<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 以上代码IE=edge告诉IE使用最新的引擎渲染网页, chrome=1则可以激活Chrome Frame -->
    <!-- 清除缓存 -->
    <!-- <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0"> -->

    <title>Pc html Template</title>
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="Reactjs,ReactJS,ReactJS中文,React,React中文,Reactjs中文文档">
    <meta name="description" content="ReactJS中文文档, 用于构建用户界面的JAVASCRIPT库">
    <meta property="og:title" content="快速开始 | React">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://facebook.github.io/react/docs/getting-started.html">
    <meta property="og:image" content="http://facebook.github.io/react/img/logo_og.png">
    <meta property="og:description" content="用于构建用户界面的Javascript库">
</head>
<body>
    
</body>
</html>
