<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,user-scalable=no" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no" />
    <title></title>
    <link rel="stylesheet" href="css/swiper.3.1.7.min.css">
    <link rel="stylesheet" href="css/styleReset.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/zepto.min.all.js"></script>
    <script src="js/swiper.3.1.7.min.js"></script>
</head>

<body>
    <div class="main ">
        
        <div class="swiper-container swiper-main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">slider1</div>
                <div class="swiper-slide">slider2</div>
                <div class="swiper-slide">slider3</div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>